<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="clientEcho" class="id.co.kmn.ws.client.ClientEcho">
        <!--property name="defaultUri" value="http://localhost:8080/echo-server/services"/-->
        <!--property name="defaultUri" value="http://localhost:9090/kmn"/-->
        <property name="defaultUri" value="http://192.168.13.10:2221/apps/kmn/IntegrasiAlat"/>
        <property name="request" value="patientRequest.xml"/>
        <property name="expression" ref="expression"/>
    </bean>

    <bean id="expression" class="org.springframework.xml.xpath.XPathExpressionFactoryBean">
        <property name="namespaces">
            <props>
                <!--prop key="tns">http://localhost:9090/kmn</prop-->
                <prop key="tns">http://192.168.13.10:2221/apps/kmn/IntegrasiAlat</prop>
            </props>
        </property>
        <property name="expression" value="/tns:IntegrasiAlat"/>
    </bean>


</beans>
